<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Playground</title>
</head>

<style>
.box{
    width: 150px;
    height: 150px;
    background-color: rgb(102, 168, 230);
    border: 1px solid black;
    margin: 20px;
}
.outer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
</style>
<body>
    <div class="outer">
        <!-- <div class="box"></div>
        <div class="box"></div> -->
        {% for i in range(0,num) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>