<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"

</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <div class="time">
            <div class="counter">
                <p>Actual</p><h2>{{ session.counter }}</h2><P>time(s)</P>
            </div>
            <div class="counter">
                <p>Given</p><h2>{{ session.given }}</h2><P>time(s)</P>
            </div>
        </div>
        <a href="/addtwo"><button class="addtwo">Add 2 visits!</button></a> <a href="/reset"><button class="reset">Reset both</button></a>
    
        <div class="bonus">
            <form action="/addnum" method="post">
                <label for="number">How many times u want to increase?</label>
                <input type="number" name="number" id="number">
                <button>Add!</button>
            </form>
        </div>
    </div>
</body>
</html>