<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }} -->
    <link rel="stylesheet" href="/Python/Flask/counter/static/style.css">
    <title>Counter</title>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <div class="time">
            <h2>1</h2><P>time(s)</P>
        </div>
    <button class="addtwo">Add 2 visits!</button> <button class="reset">Reset</button>
    </div>
</body>
</html>